.section {
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */


}

.section {
    display: none;
}

.standardimg {
    width: 100%;
    height: auto;
}


.hideori {
    opacity: 0;
}

.hidetillscroll {
    opacity: 0;
}

.fadefromright1 {
    animation: 1s ease-in-out 0s 1 forwards SlideFromRight;
}

.fadefromleft1 {
    animation: 1s ease-in-out 0s 1 forwards slideInFromLeft;
}

.fadefromleft2 {
    animation: 1s ease-in-out 0.2s 1 forwards slideInFromLeft;
}

.fadefromleft3 {
    animation: 1s ease-in-out 0.4s 1 forwards slideInFromLeft;
}

.fadefromleft4 {
    animation: 1s ease-in-out 0.6s 1 forwards slideInFromLeft;
}

.fadefromtop1 {
    animation: 1s ease-in-out 0s 1 forwards slideInFromTop;
}

.fadefromtop2 {
    animation: 1s ease-in-out 0.2s 1 forwards slideInFromTop;
}

.fadefromtop3 {
    animation: 1s ease-in-out 0.4s 1 forwards slideInFromTop;
}

.fadefromtop4 {
    animation: 1s ease-in-out 0.6s 1 forwards slideInFromTop;
}

.fadein {
    animation: 1s ease-in-out 0s 1 forwards FadeIn;
}

.fadein2 {
    animation: 1s ease-in-out 0.2s 1 forwards FadeIn;
}

.fadein3 {
    animation: 1s ease-in-out 0.4s 1 forwards FadeIn;
}

.fadein4 {
    animation: 1s ease-in-out 0.6s 1 forwards FadeIn;
}

.fadeout {
    animation: 1s ease-in-out 0s 1 forwards FadeOut;
}

.fadetoright {
    animation: 1s ease-in-out 0s 1 forwards SlidetoRight;
}

.noticemeeffect {
    animation: 1s ease-in-out 0s infinite forwards slideInFromTop;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes SlidetoRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes SlideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}


@media only screen and (max-width: 330px) {
    .maxscreenwhensmall {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    .fancycontainer{
        border-left: 1px solid transparent;
    }
}